body {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h6 {
  display: none;
}

nav {
  display: flex;
  position: absolute;
  width: 100%;
  margin-top: 6rem;
  justify-content: center;
  height: 2.28rem;
  z-index: 1;
}

li:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(37, 81, 162, 1) 0%, rgba(254, 16, 16, 1) 100%);
}

ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #707070;
  background: linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 1) 0%, rgba(140, 140, 140, 1) 100%);
}

li {
  display: table-cell;
}

.first {
  border-radius: 4px 0 0 4px;
  border-left: 0;
}

li > a {
  display: block;
  padding: 4px 30px;
  width: 100%;
  border: solid 0.5px transparent;
  border-left: solid 0.5px #707070;
}

.logo {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 18px;
  background-position: left -71px top;
  background-repeat: no-repeat;
  margin: 0;
}

.store {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 44px;
  background-position: left -58px top -31px;
  background-repeat: no-repeat;
}

.mac {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 31px;
  background-position: left -63px top -61px;
  background-repeat: no-repeat;
}

.ipod {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 28px;
  background-position: left -66px top -90px;
  background-repeat: no-repeat;
}

.iphone {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 43px;
  background-position: left -58px top -120px;
  background-repeat: no-repeat;
}

.ipad {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 27px;
  background-position: left -66px top -149px;
  background-repeat: no-repeat;
}

.itunes {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 41px;
  background-position: left -59px top -180px;
  background-repeat: no-repeat;
}

.support {
  display: block;
  background-image: url(./img/menu.png);
  height: 27px;
  width: 49px;
  background-position: left -56px top -211px;
  background-repeat: no-repeat;
}

.search {
  display: block;
  background: #707070;
  display: flex;
  align-items: center;
  border: solid 0.5px gray;
  border-radius: 0 4px 4px 0;
}

.search > input {
  font-family: FontAwesome;
  background: #707070;
  background: linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 1) 0%, rgba(140, 140, 140, 1) 100%);
  margin: 0 5px;
  border-radius: 4px;
}

::placeholder {
  background: #707070;
  color: white;
  font-size: 11px;
}

h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 27px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 10rem;
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  color: white;
  font-weight: 300;
  align-items: center;
}

.header > p {
  font-weight: 100;
  font-size: 35px;
  width: 82%;
  line-height: 44px;
  margin: 0;
  margin-bottom: 2rem;
}
.header > .container {
  background-image: url(https://web.archive.org/web/20140228114747im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.product {
  display: flex;
  position: relative;
  height: 30vh;
}

.product-item-1 {
  display: block;
  background-image: url(https://archive.fo/UW4oR/4199f096e33e638ba9aeb6c6dec3a3e64794d02c.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  margin-right: 5px;
}

.product-item-2 {
  display: block;
  background-image: url(https://archive.fo/UW4oR/6032fe46fd16493ddda4e90ae45725962fc826b9.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  margin-right: 5px;
}

.product-item-3 {
  display: block;
  background-image: url(https://archive.fo/UW4oR/307a4ef1971d63d523c362cc3e49f923549fcefc.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  margin-right: 5px;
}

.product-item-4 {
  display: block;
  background-image: url(https://archive.fo/UW4oR/ec67ffeb084d1b9c83687205641697baa4122bee.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  margin-left: 5px;
}


footer {
  display: flex;
  padding:1em 0 2.6em;
  justify-content: center;
  color: rgba(110,110,110);
}

.footer-text-container {
  width: 60rem;
}

.footer-text-container > .information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text-container > .information > p {
  font-size: 10px;
}

.footer-text-container > .copyrights > p {
  font-size: 10px;
}

.footer-text-container > .information > p > a {
  color: #76b8df;
}

.footer-text-container > .copyrights > p > a {
  color: #76b8df;
}
